
.breakpoint ( @point, @content ) {

    & when (@point = medium) {
      @media only screen and (min-width: 500px) { @content(); }
    }

    & when (@point = large) {
      @media only screen and (min-width: 800px) { @content(); }
    }
}

.transition(@ele: all, @time: .3s, @ease: cubic-bezier(.25,.8,.25,1) ) {
    -webkit-transition: @ele @time @ease;
    -o-transition: @ele @time @ease;
    transition: @ele @time @ease;
}