<ng-container *ngIf="bundesland.url; then thenBlock else elseBlock"></ng-container>

<ng-template #thenBlock>
    <li class="bundesland">
        <a [href]="bundesland.url" [title]="bundesland.name">
            <p [class.is--stadtstaat]="bundesland.stadtStaat">
            {{ bundesland.name ? bundesland.name : "-" }}
            <small>{{ bundesland.schoolCount ? bundesland.schoolCount : "0" }} Schulen</small>
            </p>
        </a>
    </li>
</ng-template>
<ng-template #elseBlock>
    <li class="bundesland">
        <p>
            {{ bundesland.name ? bundesland.name : "-" }}
            <small>{{ bundesland.schoolCount ? bundesland.schoolCount : "0" }} Schulen</small>
        </p>
    </li>
</ng-template>