@import (reference) "../../assets/css/_mixins.less";
@import (reference) "../../assets/css/_variables.less";

/*li*/.bundesland {
    .transition();
    display: block; 
    background-color: @grey-light;
    padding: 10px;
    box-shadow: 0 0px 0px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0);
    border: 1px solid transparent;
    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: 0;
        
        a p {
            padding: 20px;
        }
    }

    a {
        display: block;
        text-decoration: none;
        background-color: @white;

        p {
            .transition();
            margin: 0;
            padding: 10px;
            color: @black;

            &.is--stadtstaat {
                font-weight: 700;
            }

            small {
                display: block;
                color: @grey-dark;
                margin-top: 5px;
                font-weight: 500;
            }
        }
    }
}