@import (reference) "../assets/css/_mixins.less";
@import (reference) "../assets/css/_variables.less";

/*div*/.bundeslaender {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

    /*h1*/&__headline {
        background-color: @grey;
        color: @grey-dark;
        font-weight: 800;
        font-size: 30px;
        padding: 10px 20px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    /*ul*/&__items {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: -ms-grid;
        display: grid;
        grid-gap: 10px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

        .breakpoint(medium, {
            -ms-grid-columns: 1fr 10px 1fr;
            grid-template-columns: 1fr 1fr;
        });

        .breakpoint(large, {
            -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        });
    }

    /*ul*/&__letter-filter {
        list-style-type: none;
        padding: 0;
        margin: 10px 0 0 0;
        width: 100%;
        max-width: 1024px;
        overflow-x: scroll;
        display: flex;

        li {
            width: 30px;
            height: 30px;
            
            &:not(:last-child) {
                margin-right: 10px;
            }

            button {
                .transition();
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px;
                font-weight: 500;
                border: none;
                background-color: @grey;
                color: @black;;
                text-transform: uppercase;

                &:hover {
                    background-color: @grey-dark;
                    color: @white;
                }
                
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

}