
<!--
  Den Bundesländer Block könnte man eventuell als eigene Compoennt auslagern
-->
<div class="bundeslaender">
  <h1 class="bundeslaender__headline">Bundesl&auml;nder</h1>
  <ul class="bundeslaender__items">
    <ng-container *ngFor="let bundesland of bundeslaender">
      <bundesland-item [bundesland]="bundesland" *ngIf="bundesland.letter.includes(letterFilter)"></bundesland-item>
    </ng-container>
  </ul>
  <!--
    Den Letter-Filter könnte man eventuell als eigene Compoennt auslagern
  -->
  <ul class="bundeslaender__letter-filter">
    <li *ngIf="letterFilter !== '' ">
      <button (click)="setLetterFilter('')">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </button>
    </li>
    <li *ngFor="let letter of personIndexCounts | keyvalue">
      <!--
        Ich hätte hier gern mit folgendem Code gearbeitet
        <button [disabled]="letter.value <= 0">{{letter.key}} {{letter.value}}</button>
        oder 
        <button (click)="setLetterFilter(letter.value)" *ngIf="letter.value > 0">
        Das erzeugte leider den Fehler: Operator '<=' cannot be applied to types 'Function | (() => string) | (() => string) | (() => Object) | ((v: PropertyKey) => boolean) | ((v: Object) => boolean) | ((v: PropertyKey) => boolean)' and 'number'.
        Ich wusste nicht Ihn zu beheben.
      -->
      <button (click)="setLetterFilter(letter.value)">{{letter.value}}</button>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
