/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    text-rendering: geometricprecision;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: visible;
}

a, button {
    cursor: pointer;
}

